<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ProxyHost" value="10.248.60.204" />
    <add key="ProxyPort" value="3266" />
    <add key="ProxyUsername" value="younghe" />
    <add key="ProxyPassword" value="P@ssword11" />
    <add key="CorpId" value="wx3f992292ad95dea8" />
    <add key="CorpSecret" value="0yh37ZJX9LZk4GvT5vC5AvhonTTUjjD_OftzxsmRGlS8FXErFfGebrJQrr7FxhoQ" />
  </appSettings>
</configuration>